body {
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/1130980/pexels-photo-1130980.jpeg?cs=srgb&dl=assortment-book-bindings-books-1130980.jpg&fm=jpg');
    background-position: auto;
    background-size: 100%;

}
.container{
    margin-top: 8%;
    margin-left: 35%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 30%;
    height: 30vw;
    border-radius: 20vh;
}
.text{
    padding-top: 10%;
    margin-left: 10%;
    font-size: 2.2vw;
    width: 80%;
}
.email{
    height: 2vw;
    width: 70%;
    margin-top: 10%;
    margin-left: 10%;
}
.forgot{
    font-size: 1.1vw;
    height: 2vw;
    width: 12%;
}


@media screen and (max-width: 600px){

body {
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/1148399/pexels-photo-1148399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-position: auto;
    background-size: auto;

}
.container{
    margin-top: 0%;
    margin-left: 0%;
    z-index: 2;
    background-color: transparent;
    height: auto;
    width: 100%;
    height: 0vw;
    border-radius: 0vh;
}
.text{
    font-size: 7vw;
}
.email{
    height: 7vw;
}
.forgot{
    font-size: 5vw;
    height: 7vw;
    width: 15vw;
}
}


