body{
    overflow-x: hidden;
    background-image: url('library-image-but-absolutely-better.jpg');
}
        .mobile_view{
            visibility: hidden;
            display: none;
        }
        .buttons-profile{
        background-color: transparent;

        }
        .welcoming-text{
        color:rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.75vw;
        margin-left: 2vw;
        background-color: transparent;
        cursor: text;

        }
        .navbar{
            display: flex;
        }
        a{
        color: white;
        text-decoration: none;
        }
        .header-square{
        height: 10%;
        width: 105%;
        margin-left: -1%;
        margin-top: -1%;
        z-index: -1;
        border-radius: 0vh;
        background-color: rgb(72, 32, 32);
        cursor: default;
        display: flex;
        }
        .anchor-button{
        color: rgb(255, 255, 255);
        }
        .home-button{
        margin-left: 38%;
        color: white;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5vw;
        transition: text-decoration 5s, text-underline-offset 5s;
        background-color: transparent;
        outline: none;
        border: none;
        margin-top: 2%;
        z-index: 0;
        }
        .home-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;

        }
        .profile-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        cursor: pointer;
        font-size: 1.5vw;
        margin-left: 5%;
        margin-top: 2%;
        }
        .profile-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;
        }
        .holds-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        cursor: pointer;
        margin-top: 2%;
        font-size: 1.5vw;
        margin-left: 5%;
        }
        .holds-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;
        }
        .sign-out-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        cursor: pointer;
        font-size: 1.5vw;
        background-color: transparent;
        border: none;
        margin-top: 2%;
        margin-left: 4%;
        }
        .sign-out-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;
        }

.Profile_text{
    padding-top: 1%;
    margin-left: 40%;
    font-size: 3vw;
    cursor: text;
}

.login_input{
border-radius: 4vh;
font-size: 1vw;
height: 1.2vw;
width: 18vw;
padding: 5px;
}
.User_Email{
font-size: 2vw;
}
.Books_checked{
    font-size: 2vw;
}
.Books_hold{
    font-size: 2vw;
}
.infof{
    color: brown;
     font-size: 1.25vw;
}
.info{
 font-size: 1.25vw;
}
.infof:hover{
    text-decoration-line: underline;
}
.user_name{
    font-size: 1vw;

    height: 1.2vw;
    border-radius: 4vh;
    width: 18vw;
    padding: 5px;
}
.user_namet{
    font-size: 2vw;
}
.login_button{
    background-color: brown;
    color: white;
    border: none;
    height: 5vh;
    width: 7vw;
    margin-top: 10%;
    margin-left: 32%;
    border-radius: 3vh;
}
.login_button:hover{
    cursor: pointer;
}
.login_button:active{
    opacity: 0.7;
}
.password_reset{
    font-size: 1.25vw;
}
.password_reset_but{
    border: none;
    outline: none;
    color: brown;
    font-size: 1vw;
    background-color: transparent;
    box-shadow: none;
}
.password_reset_but:hover{
    text-decoration: underline;
    cursor: pointer;
}
.password_reset_but:active{
    opacity: 0.7;
}
.thingy{

    color: brown;
}
.sec1{

    width: fit-content;
    margin-left: 7%;
    margin-top: -3%;
}
.contact_info{
    font-size: 1.5vw;
}
.sec2{
    cursor: text;
    width: 28.4vw;
}
.container{
    gap: 20%;
    display: flex;
    
}
.user_square{
    height: calc(fit-content + 100vw);
    width: 65%;
    margin-top: 5%;
    margin-left: 17%;
    z-index: -1;
    border-radius: 0vh;
    background-color: rgba(255, 255, 255, 0.926);
    cursor: default;

    border-radius: 10vh;    
}
.white_space{
    visibility: hidden;
}

@media screen and (max-width: 600px){
    html, body {
        position: absolute ;
        display: block ;
        overflow-x: hidden;
        width: 99%;
    }
    .container{
        margin-top: -5%;
        flex-direction: column;
    }
    .Profile_text{
        font-size: 8vw;
        margin-left: 20%;
        padding-top: 5%;
        color: #ff5f03;
        width: fit-content;
    }
    .user_square{
        margin-top: 15%;
        height: fit-content;
        width: 80vw;
        border-radius: 13vw;
        margin-left: 15%;
    }
    .login_input{
        width: 60vw;
        font-size: 3vw;
        height: 5vw;
        margin-top: 0%;
    }
    .user_namet{
        font-size: 8vw;
    }
    .user_name{
        width: 60vw;
        height: 5vw;
        font-size: 3vw;
    }
    .login_button{
        width: 30vw;
        margin-left: 24%;
    }
    .sec1{
        width: 90vw;
        margin-top: 0%;
    }
    .sec2{
        width: 95%;
        height: 30%;
        margin-top: 10%;
        margin-left: 2.5%;
    }
    .User_Email{
        font-size: 8vw;
    }
    .Books_checked{
        font-size: 7vw;
    }
    .Books_hold{
        font-size: 7vw;
    }
    .info, .infof, .password_reset, .contact_info, .password_reset_but{
        font-size: 4vw;
    }
    .white_space{
        font-size: 2vw;
    }
    

    .header-square{
        visibility: hidden;
        display: none;
    }
    .mobile_view{
        display: flex;
    }
    .nav_display{
        background-color: #512929;
        height: 120%    ;
        width: 80vw;
        z-index: 2;
        position: fixed;
        margin-top: 0vw;
        margin-left: -70vw;
        transition: margin-left 1s;
    }
    .user-cards{
        margin-left: 30%;
    }
    .line1{
        background-color: white;
        margin-top: 10vw;
        height: 1vw;
        width: 8vw;
        margin-left: 70vw;
        border-radius: 5vw;
        color: white;
        position: absolute;
        transition: all 1s;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        
    }
    .line2{
        background-color: white;
        margin-top: 12vw;
        height: 1vw;
        width: 8vw;
        margin-left: 70vw;
        border-radius: 5vw;
        color: white;
        position: absolute;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        transition: all 1s;
    }
    .line3{
        background-color: white;
        margin-top: 14vw;
        height: 1vw;
        width: 8vw;
        margin-left: 70vw;
        border-radius: 5vw;
        color: white;
        position: absolute;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        transition: all 1s;
    }
    .nav_opener{
        margin-top: 2vw;
        -webkit-tap-highlight-color: transparent;
    }
    .nav_opener:focus{
        outline: none !important;
        box-shadow: none;
    }
    .nav_opener:active{
        opacity: 0.5;
    }
    .nav_opener:active{
        user-select:none;
        color: transparent;
    }
    .mobile_view{
        margin-top: -10vw;
        visibility: visible;
    }
    * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
        -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
        outline: none !important;
    }
    .welcoming-mobile{
        width: 35vw;
        font-size: 4vw;
        color: rgb(220, 167, 167);
    }
    .hyperlink_information{
        position: absolute;
        margin-left: 40%;
        margin-top: 20%;
        color: white;
        height: 50vw;

        width: 30vw;
        z-index: 5;
        font-size: 6vw;
    }
    .home-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;
    }
    .profile-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;
    }
    .holds-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;                
    }
    .sign-out-mobile{
        width: 32vw;
    }
    .sign-out-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;
    }
    .home-mobile{
        margin-top: 2%;
    }


























}