.header-square{
display: flex;
height: fit-content;
padding: 0.2vw;
margin-top: -0.2%;
background-color: rgb(13, 4, 255);
color: white;
font-size: 1.5vw;
}
.welcoming-text{
margin-top: 1%;
margin-left: 2%;
width: 50vw;
height: 0vw;

}
.home_button{
margin-left: 13%;
padding: 1vw;
cursor: pointer;
font-size: 1.2vw;
border: none;
transition: all 0.5s;
border-radius: 1vw;
}
.home_button:hover{
background-color: rgb(27, 103, 255);
color: white;
}
.users_button{
border-radius: 1vw;
padding: 1vw;
margin-left: 1%;
cursor: pointer;
font-size: 1.2vw;
border: none;
transition: all 0.5s;
}
.users_button:hover{
background-color: rgb(27, 103, 255);
color: white;
}
.books_button{
padding: 1vw;
margin-left: 1%;
cursor: pointer;
font-size: 1.2vw;
border: none;
transition: all 0.5s;
border-radius: 1vw;
}
.books_button:hover{
background-color: rgb(27, 103, 255);
color: white;
}
.local_profile_button{
border-radius: 1vw;
margin-left: 1%;
padding: 1vw;
cursor: pointer;
font-size: 1.2vw;
border: none;
transition: all 0.5s;
}
.local_profile_button:hover{
background-color: rgb(27, 103, 255);
color: white;
}
.sign-out-button{
border-radius: 1vw;
margin-left: 1%;
padding: 1vw;
cursor: pointer;
font-size: 1.2vw;
border: none;
transition: all 0.5s;
}
.sign-out-button:hover{
background-color: rgb(27, 103, 255);
color: white;
}
.users_container{
font-size: 1vw;
margin-top: 2%;
}
.search-wrapper{
margin-top: 2%;
margin-left: 2vw;
}
.search{
height: 2vw;
width: 20vw;
border-radius: 1vw;
padding: 1vw;
}
.name_header{
margin-left: 5%;
}
.header{
display: flex;
gap: 20vw;
}
.user{
display: flex;
margin-left: 5%;
}
.user{
font-size: 0.7vw;
word-wrap: break-word
}
.actions_header{
margin-left: 4%;
}
.search-wrapper{
margin-top: 0%;
}
.user_name{
width: 20vw;
}
.user_email{
height: 50vw;
margin-left: 5%;
width: 23vw;
height: fit-content;
}
.user_uid{
margin-left: 2%;
width: 25vw;
}
.view{
font-size: 1vw;
margin-left: 7%;
width: 5%;
height: 3vw;
border-radius: 1vw;
cursor: pointer;
border: green solid 0.2vw;
color: green;
transition: all 0.5s;
}
.view:hover{
background-color:green;
color: white;
}
.delete{
font-size: 1vw;
color: rgb(255, 0, 0);
border: rgb(248, 0, 0) solid 0.2vw;
cursor: pointer;
margin-left: 2%;
width: 5%;
height: 3vw;
border-radius: 1vw;
transition: all 0.5s;
}
.delete:hover{
background-color: rgb(248, 0, 0);
color: white;
}
.hide{
display: none;
}
.modal {
transition: all 1s;
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}
.modal-content {
background-color: rgb(119, 120, 135);
margin: 15% auto; 
padding: 20px;
min-height: 80vh;
border: 1px solid #888;
width: 80%; 
}
.close {
color: #aaa;
float: right;
margin-right: -4vh;
font-size: 40px;
font-weight: bold;
width: 7vh;
margin-top: -2vh;
transition: color 0.2s;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.name_info_div{
display: flex;
}
.email_info_div{
display: flex;
}
.user_name_modal{
font-size: 1.5vw;
width: 30vw;
height: 2vw;
padding: 0.5vw;
margin-top: 0.75vw;
margin-left: 5%;
}
.user_email_modal{
width: 30vw;
font-size: 1.5vw;
height: 2vw;
padding: 0.5vw;
margin-top: 0.75vw;
margin-left: 5%;
}
.user_info_save_but{
float: right;
border: black solid .2vw ;
color: rgb(0, 0, 0);
border-radius: 1vw;
margin-top: -5%;
height: 3vw;
width: 5vw;
margin-right: 40%;
cursor: pointer;
transition: all 0.5s;
}
.user_info_save_but:hover{
background-color: black;
color: white;
}
.password_reset{
float: right;
border: rgb(0, 81, 255) solid .2vw ;
color: rgb(0, 81, 255);
border-radius: 1vw;
margin-top: -5%;
height: 3vw;
width: 10vw;
margin-right: 25%;
cursor: pointer;
transition: all 0.5s;
}
.password_reset:hover{
background-color: rgb(0, 81, 255);
color: white;
}
.loading_wrapper{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1000000000;
    visibility: hidden;
    transition: all 0.5s;
}
.book{
    background-color: rgb(162, 159, 159);
    border-radius: 2vw;
    padding: 1vw;
    margin-top: 1vw;
}
.book_action{
    margin-top: -5%;
    height: 3vw;
    width: 6vw;
    float: right;
    font-size: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    color: green;
    text-align: center;
    border: solid green 0.2vw;
    transition: all 0.25s;
}
.book_action:hover{
    background-color: green;
    color: white;   
}
.cancel_hold{
    margin-top: -5%;
    height: 3vw;
    width: 6vw;
    float: right;
    font-size: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    color: rgb(255, 0, 0);
    text-align: center;
    border: solid rgb(255, 0, 0) 0.2vw;
    margin-right: 8vw;
    transition: all 0.25s;
}
.cancel_hold:hover{
    background-color: red;
    color: white;
}
.hold_or_checkout_book{
    display: flex;
}
.book_id_input{
    width: 10vw;
    font-size: 1.5vw;
    height: 2vw;
    padding: 0.5vw;
    margin-top: 0.75vw;
    margin-left: 2%;
}
.check_availibility{
    margin-left: 2%;
    height: 3vw;
    margin-top: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    border: solid rgb(255, 0, 195) 0.2vw;
    color: rgb(255, 0, 251);
    transition: all 0.5s;
}
.check_availibility:hover{
    background-color: rgb(255, 0, 195);
    color: white;
}
.modal_2{
    transition: all 1s;
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal_2_content{
    background-color: rgb(93, 37, 37);
    margin: 15% auto; 
    padding: 20px;
    min-height: 50vh;
    border: 1px solid #888;
    width: 80%; 
    color: rgb(255, 255, 255);
    border-radius: 3vw;
}
.close_modal_2{
    color: #aaa;
    float: right;
    margin-right: -4vh;
    font-size: 40px;
    font-weight: bold;
    width: 7vh;
    margin-top: -2vh;
    transition: color 0.2s;
    cursor: pointer;
}
.close_modal_2:hover{
    color: black;
}
.modal_2_description{
    background-color: rgb(132, 101, 101);
    height: 10vw;
    width: fit-content;
    overflow-y: auto;
    font-size: 1.5vw;
    padding: 1vw;
    border-radius: 2vw;
}
.modal_2_book_checkout{
    margin-left: 90%;
    height: 3vw;
    font-size: 1.25vw;
    margin-top: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    border: solid rgb(203, 21, 21) 0.2vw;
    color: rgb(203, 21, 21);
    transition: all 0.5s;
    width: 8vw;
}
.modal_2_book_checkout:hover{
    background-color: rgb(203, 21, 21);
    color: white;
}

.modal_3{
    transition: all 1s;
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal_3_content{
    background-color: rgb(146, 142, 255);
    margin: 15% auto; 
    padding: 20px;
    min-height: 32vw;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 3vw;
    color: white;
}
.close_modal_3{
    color: #ffffff;
    float: right;
    margin-right: -4vh;
    font-size: 40px;
    font-weight: bold;
    width: 7vh;
    margin-top: -2vh;
    transition: color 0.2s;
    cursor: pointer;
}
.close_modal_3:hover{
    color: black;
}
.send_custom_email{
    height: 3vw;
    width: fit-content;
    padding: 0.5vw;
    border-radius: 1vw;
    cursor: pointer;
    color: rgb(8, 86, 60);
    border: solid rgb(8, 86, 60) 0.2vw;
    transition: all 0.2s;
}
.send_custom_email:hover{
    background-color: rgb(8, 86, 60);
    color: white;
}
.subject_div{
    display: flex;
}
.email_subject{
    font-size: 1.5vw;
    width: 30vw;
    border: none;
    outline: none;
    margin-top: 1vw;
    height: 3vw;
    margin-left: 2%;
}
.message_div{
    display: flex;
}
.email_message{
    margin-left: 1%;
    height: 15vw;
    width: 60vw;
}
.modal_3_send{
    margin-top: 2%;
    margin-left: 90%;
    height: 3vw;
    width: 5vw;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 1.25vw;
    background-color: blue;
    color: white;
    border: none;
    transition: all 0.25s;
}
.modal_3_send:hover{
    height: 4vw;
    width: 6vw;
    margin-left: 89%;
    margin-top: 1.5%;
    border-radius: 1.5vw;
}
.modal_3_send:active{
    opacity: 0.5;
}
.user_card_container{
    border: 1px solid black;
    margin-top: 1%;
}
.user{
    margin-top: 0.5%;
}
.line_2{
    display: flex;
    height: 2.5vw;
}
.new_user{
    cursor: pointer;
    border-radius: 2vw;
    margin-top: 0.5vw;
    width: 10vw;
    font-size: 0.75vw;
    height: 2vw;
    gap: 70vw;
}
.notepad_modal_open{
  cursor: pointer;
  margin-left: 1vw;
}
.modal_4{
    transition: all 1s;
    position: fixed; 
    display: none;
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal_4_content{
    background-color: rgb(97, 95, 97);
    margin: 15vw auto; 
    padding: 2vw;
    min-height: 32vw;
    border: 1px solid #888;
    width: 25vw; 
    border-radius: 3vw;
    color: white;
}
.close_modal_4{
    color: #ffffff;
    float: right;
    margin-right: -4vh;
    font-size: 40px;
    font-weight: bold;
    width: 7vh;
    margin-top: -2vh;
    transition: color 0.2s;
    cursor: pointer;
}
.modal_4_h{
    margin-left: 40%;
}
.modal_4_notes{
    margin-left: 1%;
    width: 98%;
    height: 28vw;
    padding-bottom: 2vw;
}
.modal_5{
    transition: all 1s;
    position: fixed; 
    display: none;
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal_5_content{
    background-color: rgb(97, 95, 97);
    margin: 15vw auto; 
    padding: 2vw;
    min-height: 20vw;
    border: 1px solid #888;
    width: 25vw; 
    border-radius: 3vw;
    color: white;
}
.close_modal_5{
    color: #ffffff;
    float: right;
    margin-right: -4vh;
    font-size: 40px;
    font-weight: bold;
    width: 7vh;
    margin-top: -2vh;
    transition: color 0.2s;
    cursor: pointer;
}
.email_5{
    width: 90%;
    height: 2vw;
    border-radius: 1vw;
    padding-left: 1vw;
}
.password_5{
    margin-top: 1vw;
    padding-left: 1vw;
    width: 90%;
    height: 2vw;
    border-radius: 1vw;
}
.name_5{
    margin-top:    1vw;
    width: 90%;
    height: 2vw;
    padding-left: 1vw;
    border-radius: 1vw;
}
.submit-button{
    margin-top: 1.5vw;
    margin-left: 9vw;
    height: 2.45vw;
    width: 8vw;
    font-size: 1vw;
    background-color: rgb(154, 148, 152);
    cursor: pointer;
    color: white;
    border-radius: 1vw;
    box-shadow: #aaa 0.2vw 0.2vw 0.5vw 0vw;
}