    .book{
    outline: thick red;
    background-color:  rgb(98, 26, 26);
    padding-bottom: 1%;
    outline-width: 1vh;
    border-radius: 10vh;
    width: 40vw;
    padding-left: 5vh;
    align-items: center;
    justify-content: flex-start;

    }
    .book_info{
        margin-left: 12%;
        height: fit-content;
    }
    body{
    overflow-x: hidden;
    background-image: url('library-image-but-absolutely-better.jpg');
    }
    .header_books{
    color: white;
    font-size: 3vw;
    text-align: center;
    }
    .content_container{
        display: flex;
    }
    .book_img{
    height: auto;
    width: 15vw;
    border-radius: 2vw;
    }
    .book_tittle{
    margin-top: 0.5vw;    
    margin-right: 5vw;
    color: white;
    font-size: 2.25vw;
    }
    .book_author{
    color: white;
    font-size: 1.75vw;
    }
    .book_genre{
    color: white;
    font-size: 1.25vw;
    }
    .book_hold{
    color: white;
    font-size: 1.25vw;
    }
    .book_id{
    color:white;
    font-size: 1.25vw;
    }
    .wait_time{
    color: white;
    font-size: 1.25vw;
    }
    .buttons-profile{
    background-color: transparent;
    }
   
    .book_grid{
    margin-left: 2%;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    }
    .cancel_button{
    height: 3vw;
    float: right;
    margin-right: 10%;
    border-radius: 5vh;
    background-color: black;
    color: white;
    border: none;
    transition: 0.3s;
    width: 7vw;
    }
    .cancel_button:hover{
    cursor: pointer;
    }
    .cancel_button:active{
    background-color: rgb(86, 4, 4);
    }
            .mobile_view{
            visibility: hidden;
            display: none;
        }
        .buttons-profile{
        background-color: transparent;

        }
        .welcoming-text{
        color:rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.75vw;
        margin-left: 2vw;
        background-color: transparent;
        cursor: text;

        }
        .navbar{
            display: flex;
        }
        a{
        color: white;
        text-decoration: none;
        }
        .header-square{
        height: 10%;
        width: 105%;
        margin-left: -1%;
        margin-top: -1%;
        z-index: -1;
        border-radius: 0vh;
        background-color: rgb(72, 32, 32);
        cursor: default;
        display: flex;
        }
        .anchor-button{
        color: rgb(255, 255, 255);
        }
        .home-button{
        margin-left: 38%;
        color: white;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5vw;
        transition: text-decoration 5s, text-underline-offset 5s;
        background-color: transparent;
        outline: none;
        border: none;
        margin-top: 2%;
        z-index: 0;
        }
        .home-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;

        }
        .profile-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        cursor: pointer;
        font-size: 1.5vw;
        margin-left: 5%;
        margin-top: 2%;
        }
        .profile-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;
        }
        .holds-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        cursor: pointer;
        margin-top: 2%;
        font-size: 1.5vw;
        margin-left: 5%;
        }
        .holds-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;
        }
        .sign-out-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        cursor: pointer;
        font-size: 1.5vw;
        background-color: transparent;
        border: none;
        margin-top: 2%;
        margin-left: 4%;
        }
        .sign-out-button:hover{
        text-decoration: underline;
        text-underline-offset: 1vh;
        }
    @media screen and (max-width: 600px){
         .header-square{
        visibility: hidden;
        display: none;
    }
    .mobile_view{
        display: flex;
    }
    .nav_display{
        background-color: #512929;
        height: 120%    ;
        width: 80vw;
        z-index: 2;
        position: fixed;
        margin-top: 0vw;
        margin-left: -70vw;
        transition: margin-left 1s;
    }
    .user-cards{
        margin-left: 30%;
    }
    .line1{
        background-color: white;
        margin-top: 10vw;
        height: 1vw;
        width: 8vw;
        margin-left: 70vw;
        border-radius: 5vw;
        color: white;
        position: absolute;
        transition: all 1s;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        
    }
    .line2{
        background-color: white;
        margin-top: 12vw;
        height: 1vw;
        width: 8vw;
        margin-left: 70vw;
        border-radius: 5vw;
        color: white;
        position: absolute;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        transition: all 1s;
    }
    .line3{
        background-color: white;
        margin-top: 14vw;
        height: 1vw;
        width: 8vw;
        margin-left: 70vw;
        border-radius: 5vw;
        color: white;
        position: absolute;
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        transition: all 1s;
    }
    .nav_opener{
        margin-top: 2vw;
        -webkit-tap-highlight-color: transparent;
    }
    .nav_opener:focus{
        outline: none !important;
        box-shadow: none;
    }
    .nav_opener:active{
        opacity: 0.5;
    }
    .nav_opener:active{
        user-select:none;
        color: transparent;
    }
    .mobile_view{
        margin-top: -10vw;
        visibility: visible;
    }
    * {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
        -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
        outline: none !important;
    }
    .welcoming-mobile{
        width: 35vw;
        font-size: 4vw;
        color: rgb(220, 167, 167);
    }
    .hyperlink_information{
        position: absolute;
        margin-left: 40%;
        margin-top: 20%;
        color: white;
        height: 50vw;

        width: 30vw;
        z-index: 5;
        font-size: 6vw;
    }
    .home-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;
    }
    .profile-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;
    }
    .holds-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;                
    }
    .sign-out-mobile{
        width: 32vw;
    }
    .sign-out-mobile:hover{
        text-decoration: underline;
        text-underline-offset: 2vw;
    }
    .home-mobile{
        margin-top: 2%;
    }
    .book_grid{
        margin-top: 10%;
        margin-left: 15%;
    }
    .book{
        width: 80vw;
        border-radius: 10vw;
    }
    .book_tittle{
        font-size: 5vw;
    }
    .book_author{
        font-size: 4vw;
    }
    .book_genre{
        font-size: 3vw;
    }
    .book_hold{
        font-size: 3vw;
    }
    .book_id{
        font-size: 3vw;
    }
    .wait_time{
        font-size: 3vw;
    }
    .book_img{
        margin-left: -10%;
        width: 30vw;
    }
    .cancel_button{
        height: 10vw;
        width: 50%;
    }
    .book_info{
        margin-left: 5%;
    }
    .header_books{
        margin-top: 20%;
        font-size: 7vw;
        margin-left: 10%;
    }




    }